Reset some default browser styles
body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style the navigation menu */
/* nav ul {
    background-color: #444;
    list-style-type: none;
    text-align: center;
    padding: 10px;
} */

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style the main content */
main {
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.fixed-image {
    width: 420px; /* Set your desired width */
    height: 420px; /* Set your desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    text-align: center;
} 
